<div class="col-lg-3 sidebar">
		<div class="row">
            <div class="col-md-6 col-lg-12">
                <div class="card card-inverse card-primary mb-4 text-center">
                    <div class="card-header">
                        VPS desde $5 dólares 
                    </div>
                    <div class="card-block">
                        <!-- <i class="h1 icon ion-trophy white-text mb-2"></i> -->
                        <img src="https://www.digitalocean.com/assets/media/logos-badges/DO_Logo_vertical_white-b375881b.png"  width="100px" alt="">
                        <br>
                        <br>

                        <a href="https://m.do.co/c/2ca258018ef6" class="btn btn-primary bg-black" target="_blank">Comienza ahora</a>
                    </div>
                </div>
            </div>
            <!-- /.col-md-6 col-lg-12 -->
            
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-md-6 col-lg-12">
                <div class="card mb-4 ">
                <br>
                    <p style="text-align:center;">
                        <a target="_blank"  href="https://www.amazon.com/gp/product/B071K7FCD4/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B071K7FCD4&linkCode=as2&tag=kuarks-20&linkId=7842ed6e23314cd4de120121036e5e75"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=B071K7FCD4&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL160_&tag=kuarks-20" ></a><img src="//ir-na.amazon-adsystem.com/e/ir?t=kuarks-20&l=am2&o=1&a=B071K7FCD4" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
                    </p>
                    <div class="card-block">
                        <h6 class="card-title text-center mb-0">Aprende todo sobre el Bitcoin</h6>
                    </div>
                </div>
            </div>
            <!-- /.col-md-6 -->

        </div>
        <!-- /.row -->

        
    <!-- /.col-md-3 sidebar -->
</div>