<br>
<div class="container">
    <nav>
    <div class="row">
        <div class="col-md-6">
            <a href="/">
                <img src="http://d33wubrfki0l68.cloudfront.net/f8b05cee18b35788ead2b7ba126a35e1a71e11a6/07fb0/images/logo.png" alt="" width="100">
            </a>
        </div>
        <div class="col-md-6">
            <div class="input-group btn-group pull-right">
                <input type="text" id="search-box" class="form-control">
                <button class="btn btn-primary" onclick="search()">Buscar</button>
            </div>
        </div>
    </div>
    </nav>
</div>